<main role="main" class="flex-shrink-0">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <p class="lead">Olá amigo cinéfilo, eu sou o Fabiano, criador do site CinemaNAC. O site está nascendo com o objetivo de trazer para todos vocês muita informação sobre os nossos filmes preferidos.</p>
      <p class="lead">O site é totalmente gratuíto, fique a vontade. Caso tenha reclamações e/ou sugestões, entre em contato comigo. Agora senta no sofá e bons filmes !!!</p>
    </div>
</main>