<bol-header></bol-header>
<bol-aluno *ngFor="let a of alunos" [aluno]="a"></bol-aluno>




<!-- EXEMPLOS DE INTERPOLAÇÃO 
  <h1>Boletim</h1>

  <p>1 + 1 = {{1 + 1}}</p>
  <p>{{nome}}</p>
  <p>{{getMensagem(5)}}</p>
  <p>{{alunos[1]}}</p>
  <p>{{alunos}}</p>
  <p>{{aluno.turma}}</p>
  <p>{{aluno.nota}}</p>
  <p>{{aluno.nome}}</p>

  <ul>
    <li>{{classe[0].nome}} ({{classe[0].nota}})</li>
    <li>{{classe[1].nome}} ({{classe[1].nota}})</li>
    <li>{{classe[2].nome}} ({{classe[2].nota}})</li>
  </ul>

  <ul>
    <li *ngFor="let a of classe">{{a.nome}} ({{a.nota}})</li>
  </ul>

  <div>
    Aluno: {{classe[2].nome}}
    <div *ngIf="classe[2].nota > 5">
      Aprovado
    </div>
  </div><br>

  <div *ngFor="let a of classe">
    Aluno: {{a.nome}}
    <div *ngIf="a.nota > 5">
      Aprovado
    </div>
  </div>
-->